@theme inline {
  --font-sans: 'Pretendard Variable', 'Pretendard', var(--font-geist-sans);
  --font-serif: var(--font-noto-serif-kr);
  --font-mono: var(--font-geist-mono);
  --font-roboto: var(--font-roboto);

  --font-heading: var(--font-sans);
}
